.footer-list {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

a.navbar-brand {
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

.column h5 {
    text-align: center;
    color: #fff;
}

#brand-block h2, span {
    color: #fff;
}

.column {
    padding: 1rem;
}

.nav-item {
    margin-left: 1rem;
}

#navbar-container {
    border-bottom: 1px solid #eef1f6;
}

#main-title {
    text-align: center;
}

.card {
    max-width: 32rem;
}

.field {
    font-weight: 700;
}

#login-btn {
    width: 100%;
}

.field {
    text-align: left;
}

.nav-link:hover {
    font-weight: 700;
    font-size: 1.1rem;
    transition: all 200ms ease-in;
}

input::placeholder {
    font-size: 0.9rem;
}

#today {
    animation: changeColor 4s infinite;
}

@keyframes changeColor {
    0% {color: black;}
    50% {color: royalblue;}
    100% {color: black;}
    
  }

#buttons-group {
    align-items: center;
}

.img-main:hover {
    filter: opacity(0.5);
    transition: all 300ms ease;
}

@media (min-width: 992px) {
    .footer-list {
        text-align: left;
    }

    #main-title {
        text-align: left;
    }

    #buttons-group {
        align-items: flex-start;
    }
}